* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #58595b;
    background-color: #f2f2f2;
}

.main-wrapper {
    max-width: 75%;
    margin:0 auto;
    height:auto;
    margin-bottom:50px;
}

h1 {
    margin-top:65px;
    font-size: 4rem;
    color: #ee2c72;
    margin-bottom: 25px;
}

p {
    line-height: 1.33;
    width:60%;
}

.showcase {
    color:#ee2c72;
    font-weight: 600;
}

.span-headline {
font-size: 4rem;
  font-weight: 100;  
}

.content-summary {
    margin-top:4rem;
}

.subhead {
    color: #ee2c72;
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:1.5rem;
}

.content-topic,.content-summary {
    margin-top: 2rem;
    margin-left:4rem;
    margin-bottom: 50px;

}

.topic-desc {
    font-weight: 100;
    font-size:1.5rem;
}

ul {
    width:60%;
    list-style: none; 
    margin-left:15px;
}

li {
    margin-bottom:25px;
}

ul li::before {
    content: "\2022";  
    color: #ee2c72; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

hr {
    width:60%;
    margin-left:4rem;
    margin-bottom:25px;
    color:#ee2c72;
    
}